# All built stuff
out

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Assignments
source/asn*

# IntelliJ stuff
.idea
*.iml

# Build script
build.sh

# Test java and python files
src/main/java/CompSci162.java
src/PythonExamples.py

# venv
env/
env
venv/
venv
