/* Left Navigation bar colour */
.wy-side-nav-search {
    background-color: #4B0000;
}

/* Left Navigation bar caption colour */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #FC4C4C;

}